body {
    background-color: #cfe2ff;
    margin: 0;
}
a {
    text-decoration: none;
    color: #4682DC;
}
code {
    border-radius: 2px;
    background-color: #bfbfbf;
    padding: 3px;
    font-family: monospace;
    font-size: .875em;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
}
.content {
    padding-left: min(15em, 10%);
    padding-right: min(15em, 10%);
}
.alert {
    float: left;
    border: 2px solid #E74C3C;
    background-color: #ffdcd8;
    width: calc(100% - 4px);
    text-align: center;
    display: block;
    margin-bottom: 0.5em;
}
.Bar {
    float: left;
    width: calc(100% - 4px);
    text-align: left;
    position: sticky;
    top: 0;
    color: #FFFFFF;
    border: 2px solid #4682DC;
    background-color: #000000;
    display: block;
    margin-bottom: 1em;
}
.BarElement {
    color: #FFFFFF;
    text-decoration: none;
}
.BarElementSpecial {
    color: #EB403E;
    text-decoration: none;
}