body {
    background-color: #ddfcf2;
}
a {
    text-decoration: none;
    color: #4682DC;
}
.content {
    padding-left: min(15em, 10%);
    padding-right: min(15em, 10%);
}
.Bar {
    float: left;
    width: calc(100% - 4px);
    text-align: left;
    position: sticky;
    top: 0;
    color: #FFFFFF;
    border: 2px solid #4682DC;
    background-color: #000000;
}
.BarElement {
    color: #FFFFFF;
    text-decoration: none;
}
.BarElementSpecial {
    color: #EB403E;
    text-decoration: none;
}